allennlp==2.1.0
datasets==2.0.0
jsonlines==3.0.0
matplotlib==3.4.0
networkx==2.5
nltk==3.5
numpy==1.19.2
pandas==1.3.0
pandas==1.1.3
scikit_learn==0.24.2
scipy==1.5.2
seaborn==0.11.0
torch==1.7.1
tqdm==4.62.2
transformers==4.22.1
Unidecode==1.3.2
